<section class="card-container">
  <div class="card">
    <img
      class="card-image"
      src="../../assets/microphone.svg"
      alt="microphone"
    />
    <p class="card-text">Concert</p>
  </div>
  <div class="card">
    <img class="card-image" src="../../assets/ping-pong.svg" alt="Sports" />
    <p class="card-text">Sports</p>
  </div>
  <div class="card">
    <img
      class="card-image"
      src="../../assets/college-graduation.svg"
      alt="Education"
    />
    <p class="card-text">Education</p>
  </div>
</section>
