<section class="card-container-pop">
  <div class="card-pop">
    <img
      class="card-image-pop"
      src="../../assets/Bild 51@3x.png"
      alt="Celebrating people in a stadium"
    />
    <div class="grid-text">
      <p class="card-text-pop">Sports Meet in Galaxy Field</p>
      <div class="subtitle-card-text">&#128467; Jan 12, 2019</div>
      <div class="subtitle-card-text">
        &#x1F4CD; Greenfields, Sector 42, Faridabad
      </div>
    </div>
  </div>
  <div class="card-pop">
    <img
      class="card-image-pop"
      src="../../assets/Bild 49@3x.png"
      alt="street art woman face on a wall"
    />
    <div class="grid-text">
      <p class="card-text-pop">Art & Meet in Street Plaza</p>
      <div class="subtitle-card-text">&#128467; Jan 12, 2019</div>
      <div class="subtitle-card-text">
        &#x1F4CD; Galaxyfields, Sector 22, Faridabad
      </div>
    </div>
  </div>
  <div class="card-pop">
    <img
      class="card-image-pop"
      src="../../assets/Bild 54@3x.png"
      alt="full concert hall with disco lights"
    />
    <div class="grid-text">
      <p class="card-text-pop">Youth Music in Galleria</p>
      <div class="subtitle-card-text">&#128467; Jan 12, 2019</div>
      <div class="subtitle-card-text">
        &#x1F4CD; Greenfields, Sector 42, Faridabad
      </div>
    </div>
  </div>
</section>
