.parent {
  display: grid;
  grid-template-rows: auto 1fr auto;
  background-color: var(--background-color);
}

h4 {
  color: var(--primary-font-color);
}

footer {
  display: grid;
  grid-auto-flow: column;
  width: 414px;
  height: 98px;
  background-color: #152f3e;
  align-items: center;
  justify-content: center;
}
