@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap");
@import url("https://use.typekit.net/kwg6fys.css");

*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  --primary-font-color: #fff;
  --background-color: #102733;
  --cards-background-color: #29404e;
  --calender-active: #fccd00;
}

html {
  font-size: 16px;
}

body {
  font-family: "Quicksand", sans-serif;
  margin: 0;
}

input,
button,
select,
optgroup,
textarea {
  margin: 0;
  font-family: "Quicksand", sans-serif;
}

#storybook-preview-wrapper.css-sqc8g1 {
  width: 414px;
  height: 896px;
  margin: 0;
  padding: 0;
}
