<section class="calender-container">
  <div class="calender">
    <p class="calender-day">10</p>
    <p class="calender-text">Sun</p>
  </div>
  <div class="calender">
    <p class="calender-day">11</p>
    <p class="calender-text">Mon</p>
  </div>
  <div class="calender active">
    <p class="calender-day active">12</p>
    <p class="calender-text active">Tue</p>
  </div>
  <div class="calender">
    <p class="calender-day">13</p>
    <p class="calender-text">Wed</p>
  </div>
  <div class="calender">
    <p class="calender-day">14</p>
    <p class="calender-text">Thu</p>
  </div>
  <div class="calender">
    <p class="calender-day">15</p>
    <p class="calender-text">Fri</p>
  </div>
  <div class="calender">
    <p class="calender-day">16</p>
    <p class="calender-text">Sat</p>
  </div>
  <div class="calender">
    <p class="calender-day">17</p>
    <p class="calender-text">Sun</p>
  </div>
  <div class="calender">
    <p class="calender-day">18</p>
    <p class="calender-text">Mon</p>
  </div>
</section>
